<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/css/bootstrap.css">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-3">

        </div>
        <div class="col-6">
            <form   method="post" action="addproducts" class=" mt-3">
                <div class="form-group">
                    <h2>add new product</h2>
                    <label for="pname">Name</label>
                    <input id="pname" class="form-control" type="text" name="pname" placeholder="enter ur  product name">
                    <label for="pprice">price</label>
                    <input id="pprice" class="form-control" type="text" name="pprice" placeholder="enter ur price">


                    <input  class="form-control" type="submit"  >

                </div>
            </form>
         <a href="products"> shop page</a>
        </div>
        <div class="col-3">

        </div>
    </div>
</div>

</body>
</html>