<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/css/bootstrap.css">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-3">

        </div>
        <div class="col-3">
          welcome
        </div>
        <div class="col-3">

        </div>
        <button class="btn-primary">button</button>
        </div>
</div>
<a href="/products">shop page</a>
<h2>shop site</h2>
{{#each a as |x|}}
    <li>{{x}}</li>
    {{/each}}
</body>
</html>